/* Feito por: Thales Leonardo Euler Vieira de Sousa */

#aulas {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-marrom-escuro);
    color: var(--cor-texto-footer);
}

.aulas-cursos {
    text-align: center;
}

.frase-chamada {
    font-weight: bolder;
}

#aul {
}

#cur {
}

#aulas-texto {
    width: 675px;
    height: 280px;
    margin-top: 15px;
    border-top: 3px solid #5E5D5C;
    padding-top: 9px;
    padding-bottom: 9px;
}

#cursos-texto {
    width: 675px;
    height: 280px;
    margin-top: 15px;
    border-top: 3px solid #5E5D5C;
    padding-top: 9px;
    padding-bottom: 9px;
}

#aulas h3 {
    font-size: 36px;
    margin: 130px 0px 12px 0px; /* conferir o tamanho exato do header pra definir a margin */
}

#aulas p {
    font-size: 24px;
    line-height: 90%;
    letter-spacing: 90%; /* rever se os numeros não precisam diminuir mais para o alinhamento */
}

#aulas img {
    width: 675px;
    height: 425px;
    border: 6px solid #5E5D5C;
    border-radius: 20px;
}

#servicos {
    background-color: var(--background-marrom-claro);
}