/* Feito por: Thales Leonardo Euler Vieira de Sousa */

#aulas {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-marrom-escuro);
    color: var(--cor-texto-footer);
}

.aulas-cursos {
    text-align: center;
}

.frase-chamada {
    margin-top: 15px;
    border-top: 3px solid #5E5D5C;
    
}

#aulas h3 {
    font-size: 36px;
    margin: 120px 0px 12px 0px;
}

#aulas p {
    font-size: 24px;
    line-height: 95%;
    letter-spacing: 95%;
}

#aulas img {
    width: 675px;
    height: 425px;
    border: 6px solid #5E5D5C;
    border-radius: 20px;
}

#servicos {
    background-color: var(--background-marrom-claro);
}