/* Feito por: Caroline Ito Gutierrez */

/* header */

header {
    background-color: #FEFAE0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 4vw;
    margin-right: 10px;
}

.logo h1 { /* Ateliê Terracota */
    font-size: 1.7vw;
    color: #803D2A; 
    margin: 0;
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

nav a { /* botões */
    text-decoration: none;
    font-size: 1.1vw;
    color: #803D2A;
    font-weight: 300;
}

nav a:hover, nav a.active { 
    text-decoration: underline;
    font-weight: 600;
}

/* footer */

footer {
    background-color: #673A3F; 
    padding: 20px;
    height: 220px; 
    color: #B99470;
    font-family: Arial, sans-serif;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-content {
    display: flex;
    border-bottom: 1px solid #B99470; /* Linha de separação */
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.footer-logo .logo-img {
    width: 10%;
}

.footer-logo h2 {
    font-size: 20px;
    color: #B99470; 
    margin: 0;
}

.footer-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.footer-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #B99470;   
transition: color 0.3s ease;
}

.footer-menu ul li a:hover {
    color: #f3e5d1; 
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-bottom p {
    font-size: 14px;
    margin: 0;
    color: #B99470;
}

.footer-bottom .social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a i{
    text-decoration: none;
    font-size: 16px;
    color: #B99470;   
    transition: color 0.3s ease;
}

.social-icons a i:hover {
    color: #f3e5d1; 
}